body {
  margin: 0;
  padding: 0;
  background-color: #e8ebf0;
  height: 100vh;
  display: flex; }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #184aa0;
  height: 100vh;
  width: 100vw; }

.Mapon {
  margin-top: 26px;
  width: 156px;
  height: 56px; }
